<!DOCTYPE HTML>
<html lang="{{ request.locale_name }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
              integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ request.static_url('projetoredesmultimidia:static/css/jquery-ui.css') }}"/>
        <link rel="stylesheet" href="{{ request.static_url('projetoredesmultimidia:static/css/main/main.css') }}"/>
        <title>UpMind</title>
    {% endblock %}
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1" id="mainheader">
                    <img src="{{ request.static_url('projetoredesmultimidia:static/images/logotrans1.png') }}">
                </div>
                <div class="col-sm-offset-4 col-sm-3">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-user"></span>
                        {% if request.authenticated_userid %}
                            {{ request.authenticated_userid }}
                            |
                            <a href="{{ request.route_url("logout") }}"> Sair</a>
                        {% else %}
                            <a href="{{ request.route_url("login") }}"> Entrar</a>
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
        <nav id="nav" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header col-sm-offset-1">
                        <a class="navbar-brand" href="{{ request.route_url('home') }}">Home</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ request.route_url('cursos') }}">Cursos</a></li>
                        </ul>

                        <form class="navbar-form navbar-left" role="search">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}
            <!-- Para otimizar as chamadas do scripts js -->
            <script type="text/javascript" src="{{ request.static_url('projetoredesmultimidia:static/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ request.static_url('projetoredesmultimidia:static/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ request.static_url('projetoredesmultimidia:static/js/jquery-ui.js') }}"></script>
        {% endblock %}

    <div class="footer panel-footer">
    © Anderson Marques Morais
    </div>

    </div>
</div>
</body>
</html>