.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#home_video_content {
    background-color: #800000;
    height: 620px;
    padding-top: 20px;
}

#area_home_video {
    height: 600px;
}

#divvideo {
    padding-left: 1%;
}

#list_videos {
    background-color: #000000;
    border-radius: 0.5em 0em 0em 0em;
    height: 600px;
}

#accordion {
    padding-top: 10px;
}

.panel-heading {
    background: #bc2131!important;
}

.panel-heading .panel-title a{
    color: white;
}

#my-video {
    border-radius: 0.5em;
}