{% extends "templates/main.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="{{ request.static_url('projetoredesmultimidia:static/css/cursos/cursos.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="cursos-content">
        <div id="placeholders" class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="{{ request.route_url('curso') }}"><img src="{{ request.static_url("projetoredesmultimidia:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>

                <div class="text-center">
                    <h4 class="text-color">Curso 1</h4>
                    <span class="text-muted text-color">Descrição do Curso 1.</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="#"><img src="{{ request.static_url("projetoredesmultimidia:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>

                <div class="text-center">
                    <h4 class="text-center text-color">Curso 2</h4>
                    <span class="text-muted text-color">Descrição do Curso 2.</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="#"><img src="{{ request.static_url("projetoredesmultimidia:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>

                <div class="text-center">
                    <h4 class="text-center text-color">Curso 3</h4>
                    <span class="text-muted text-color">Descrição do Curso 3.</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="#"><img src="{{ request.static_url("projetoredesmultimidia:static/images/project.jpg") }}" class="img-responsive img-rounded" data-holder-rendered="True" alt="200"/></a>

                <div class="text-center">
                    <h4 class="text-center text-color">Curso 4</h4>
                    <span class="text-info text-color">Descrição do Curso 4.</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
