{% extends "templates/main.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">
    <link href="{{ request.static_url('projetoredesmultimidia:static/css/cursos/video_aula_home.css') }}" rel="stylesheet">
    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.0/videojs-ie8.min.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div id="home_video_content" >
        <section id="area_home_video" class="col-sm-8">
            <div id="divvideo">
                <video id="my-video" class="video-js" controls preload="auto" width="920" height="500"
                       data-setup="{}">
                    <source src="../../static/video/{{ curso.topicos[0].subtopicos[0].video.path }}" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>

                <script src="http://vjs.zencdn.net/5.0.2/video.js"></script>
            </div>    
        </section>
        <section id="list_videos" class="col-sm-3 col-sm-offset-1">
            <div class="panel-group" id="accordion">
            {% for topico in curso.topicos %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{topico.id}}">
                                {{ loop.index }} - {{ topico.nome }}
                            </a>
                        </h4>
                    </div>
                    <div id="{{topico.id}}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            {% for subtopico in topico.subtopicos %}
                                <div>
                                    <a class="alert-link" href="#" id="{{ subtopico.video.path }}">
                                        {{ loop.index }} - {{ subtopico.nome }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
    </div>

    <script type="text/javascript" src="{{ request.static_url('projetoredesmultimidia:static/js/cursos/video_aula_home.js') }}"></script>
{% endblock %}
