.jumbotron, #mainheader, #nav{
    margin-bottom: 0px;
}

.jumbotron {
    background-color: #bc2131;
}

#nav {
    background-color: #080808;
    color: white;
}

#nav .container-fluid .row a{
    color: white;
}

.footer{
    clear: both;
}
